.skillInd{
    padding: 10px;
    padding-left: 0;
}
.leftDiv > .skillInd > p{
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.rightDiv > .skillInd > p{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.progressBar{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    background-color: #e9d9e6;
    position: relative;
    border-radius: 20px;
}
.progress{
    position: absolute;
    width: 500px;
    height: 25px;
    background-color: #1c264f;
    text-align: right;
    padding-right: 10px;
    border-radius: 20px;
}
.size-80{
    width: 80%;
}
.size-85{
    width: 85%;
}
.size-75{
    width: 75%;
}
.size-90{
    width: 90%;
}


.skillTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillImg{
    width: 80%;
    align-self: flex-end;
}
.skillDivs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.leftDiv{
    width: 30%;
    padding: 50px;
    width: 30%;
}
.rightDiv{
    padding: 50px;
    width: 30%;
    text-align: right;
}
.skillIcon{
    color: #134074;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 700px) {
    .skillDivs{
        flex-direction: column;
    }
    .leftDiv{
        width: 80vw;
        padding-bottom: 0;
        padding: 35px;
    }
    .rightDiv{
        width: 80vw;
        padding-top: 0;
        padding: 35px;
    }
    .rightDiv > .skillInd > p {
        flex-direction: row-reverse;
    }
  }