.footer{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #273469;
    color: white;
}
.footerConnect{
    display: flex;
    margin-top: 10px;
}
.connectIcon{
    color: #fbfbfbf6;
    margin: 20px;
    font-size: 25px;
}
.footerImgDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.footerImg{
    width: 25rem;
}


@media only screen and (max-width: 530px) {
    .footerConnect {
        display: grid;
        width: 60vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media only screen and (max-width: 450px) {
    .footerConnect {
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .footerImg{
        width: 15rem;
    }
  }